
<style>
@font-face {
    font-family: 'D2Coding';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.guideBox {margin-top:40px;}
.guideTitle {font-size:18px; font-weight:500;}
.guideCont {margin-top:10px;}
.gGroup {margin-top:20px;}
.gText {font-size:14px;}
.gView {padding:10px; border:1px solid #bbbbbb; background:#fff;}
</style>

<div class="cptPubGuide">
<div class="guideArea">

<!-- 가이드 그룹 -->
<div class="guideBox">
<div class="guideTitle">게시판 리스트형</div>
<div class="guideCont">
<div class="gText">
    일반 게시판 리스트형입니다. 온전하지 않은 버전입니다.
    <br>더 좋은 형태가 나오면 업데이트 바랍니다.
    <br>css는 _cptBoardList.scss를 참고바랍니다.
</div>
<div class="gGroup">
<div class="gView"></div>
<div class="gCode">
<pre><code class="xml" style="font-size:14px; letter-spacing:1.5px; font-family: 'D2Coding'"></code></pre>
<textarea class="codeGuide" style="display:none;">


<div class="cptBoardList">
    <table>
        <caption></caption>
        <colgroup>
            <col style="width:8%;">
            <col style="width:auto;">
            <col style="width:10%;">
            <col style="width:8%;">
            <col style="width:8%;">
            <col style="width:9%;">
        </colgroup>
        <tbody>
            <tr>
                <td class="bdType left"><span class="listType">기타문의</span></td>
                <td class="bdTitle left">
                    <div class="link">
                        <div class="title">
                            <a href="#">경륜선수와 함께하는 자전거 안전교실 재능기부 활동 경륜선수와 함께하는 자전거 안전교실 재능기부 활동 경륜선수와 함께하는 자전거 안전교실 재능기부 활동</a>
                            <span class="num">[2]</span>
                            <span class="icons">
                                <span class="icon new">새로운 글</span>
                                <span class="icon file">첨부파일</span>
                                <span class="icon secret">비밀글</span>
                            </span>
                        </div>
                    </div>
                </td>
                <td class="bdState"><span class="state pink">접수완료</span></td> <!-- blue : 진행중, pink : 접수완료, gray : 답변완료 -->
                <td>홍길동</td>
                <td>35125</td>
                <td class="right">0000.00.00</td>
            </tr>
            <tr>
                <td class="bdType left"><span class="listType">기타문의</span></td>
                <td class="bdTitle left">
                    <div class="link">
                        <div class="title">
                            <a href="#"><b>경륜선수와 함께하는 자전거 안전교실 재능기부 활동</b></a>
                            <span class="num">[2]</span>
                            <span class="icons">
                                <span class="icon new">새로운 글</span>
                                <span class="icon file">첨부파일</span>
                                <span class="icon secret">비밀글</span>
                            </span>
                        </div>
                    </div>
                </td>
                <td class="bdState"><span class="state blue">진행중</span></td> <!-- blue : 진행중, pink : 접수완료, gray : 답변완료 -->
                <td>홍길동</td>
                <td>35125</td>
                <td class="right">0000.00.00</td>
            </tr>
            <tr>
                <td class="bdTitle left" colspan="2">
                    <div class="link">
                        <span class="reply">답글</span>
                        <div class="title">
                            <a href="#"><b>경륜선수와 함께하는 자전거 안전교실 재능기부 활동</b></a>
                            <span class="num">[2]</span>
                            <span class="icons">
                                <span class="icon new">새로운 글</span>
                                <span class="icon file">첨부파일</span>
                                <span class="icon secret">비밀글</span>
                            </span>
                        </div>
                    </div>
                </td>
                <td class="bdState"><span class="state blue">진행중</span></td> <!-- blue : 진행중, pink : 접수완료, gray : 답변완료 -->
                <td>홍길동</td>
                <td>35125</td>
                <td class="right">0000.00.00</td>
            </tr>
            <tr>
                <td class="bdTitle left" colspan="2">
                    <div class="link">
                        <span class="reply">답글<span class="reply">답글</span></span>
                        <div class="title">
                            <a href="#">경륜선수와 함께하는 자전거 안전교실 재능기부 활동 경륜선수와 함께하는 자전거 안전교실 재능기부 활동 경륜선수와 함께하는 자전거 안전교실 재능기부 활동</a>
                            <span class="num">[2]</span>
                            <span class="icons">
                                <span class="icon new">새로운 글</span>
                            </span>
                        </div>
                    </div>
                </td>
                <td class="bdState"><span class="state blue">진행중</span></td>
                <td>홍길동</td>
                <td>35125</td>
                <td class="right">0000.00.00</td>
            </tr>
        </tbody>
    </table>
</div>



</textarea>
</div>
</div>
</div>
</div>
<!-- //가이드 그룹 -->

</div>
</div>

    
<script>
    run();
</script>
    
        