<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "경륜 커뮤니티",
    url: "../../"
}) %>


<div class="lytLogin">
    <div class="cptLogin">
        <div class="lgInner">
            <div class="logoBox">
                <h1 class="kspologo"><img src="../../images/common/logo_login.png" alt="Kcycle 로그인"></h1>
            </div>
            <div class="titleBox">
                <h2 class="loginTitle">비밀번호 재설정</h2>
            </div>
            <div class="fnBox">
                <div class="textMsg">
                    <p class="text">비밀번호를 변경해주세요.</p>
                </div>
                <dl>
                    <dt class="title">
                        <span class="required">*</span>새 비밀번호
                    </dt>
                    <dd class="iptBox">
                        <input type="text" placeholder="아이디를 입력해주세요">
                    </dd>
                </dl>
                <dl>
                    <dt class="title">
                        <span class="required">*</span>새 비밀번호 확인
                    </dt>
                    <dd class="iptBox">
                        <input type="password" placeholder="비밀번호를 입력해주세요">
                    </dd>
                </dl>
                <div class="textMsg">
                    <p class="text left">최소 10자리 이상 : 영문 대(소)문자, 숫자, 특수문자(!#@ 등) 중에서 2종류 이상 입력해주세요.</p>
                </div>

                <div class="loginBox">
                    <button class="btn basic">비밀번호 변경</button>
                </div>
                <div class="loginSerch">
                    <a href="#none">로그인 페이지 이동</a>
                </div>
                <div class="footInfo">
                    시스템 문의 : 정보지원팀<br>
                    연락처 : 02-2067-5536
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>