<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "경륜 커뮤니티",
    url: "../../"
}) %>


<div class="lytLogin">
    <div class="cptLogin">
        <div class="lgInner">
            <div class="logoBox">
                <h1 class="kspologo"><img src="../../images/common/logo_login.png" alt="Kcycle 로그인"></h1>
            </div>
            <div class="titleBox">
                <h2 class="loginTitle">아이디 찾기</h2>
            </div>
            <div class="fnBox">
                <div class="textMsg">
                    <p class="text">아이디는 아래와 같습니다.</p>
                </div>
                <div class="textInfo">
                    <b class="text">123456-001</b>
                </div>

                <div class="loginBox">
                    <button class="btn basic">비밀번호 찾기</button>
                </div>
                <div class="loginSerch">
                    <a href="#none">로그인 페이지 이동</a>
                </div>
                <div class="footInfo">
                    시스템 문의 : 정보지원팀<br>
                    연락처 : 02-2067-5536
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>