<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "경륜 커뮤니티",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/gnb.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    subTitle: "포토게시판",
                    url: "../../",
                }) %>

                <!-- 게시판 상단 -->
                <div class="comGroupTop">
                    <div class="alignL">
                        <div class="unit"><span class="text">전체 <span class="total">1000</span>건</span></div>
                    </div>
                    <div class="alignR">
                        <ul class="comSideOpt">
                            <li class="sideItem">
                                <div class="frmSearch">
                                    <input type="text" placeholder="검색어를 입력해주세요">
                                    <button class="btnSearch">검색</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //게시판 상단 -->

                <!-- 게시판 : 앨범형 -->
                <div class="cptBoardImg">
                    <div class="boardGroup">
                        <ul class="boardList">
                            <li class="boardItem">
                                <div class="imgBox">
                                    <img src="" alt="">
                                </div>
                                <div class="flogBox">
                                    <div class="state new"></div>
                                    <div class="state file"></div>
                                </div>
                                <div class="infoBox">
                                    <div class="title"></div>
                                    <div class="name"></div>
                                    <div class="date"></div>
                                    <div class="view"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //게시판 : 앨범형 -->

                <!-- 게시판 하단 버튼 영역 -->
                <div class="comGroupBtm">
                    <div class="alignR">
                        <button class="btn basic">글쓰기</button>
                    </div>
                </div>

                <!-- 페이징 -->
                <div class="comPaging">
                    <a class="start" href="#"></a>
                    <a class="prev" href="#"></a>
                    <ul class="numList">
                        <li><a href="#">1</a></li>
                        <li class="on"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">10</a></li>
                    </ul>
                    <a class="next" href="#"></a>
                    <a class="end" href="#"></a>
                </div>
                
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>