/* --------------------------- 게시판 상세 --------------------------- */
.cptBoardWrite{
    width:100%; padding:0 20px;
    .boardArea{
        width: 100%; padding-bottom:20px; border-bottom:1px solid #eee;
        .boardTop{
            width: 100%; margin-bottom:20px;
            .boardTitle{
                width:100%; height:90px; padding-bottom:20px; border-bottom:1px solid #eee;
                @include media('mobile'){height:70px;}
                input {
                    width:100%; height:70px; padding:0 40px; color: #000; font-size: rem(22px); font-style: normal; font-weight: 300; line-height: normal;
                     border:0; border-radius:12px; background:#F7F9FB;
                    &::placeholder {color:rgba(0,0,0,0.3); font-size: rem(16px);}
                    @include media('mobile'){
                        height:50px; padding:0 15px; font-size: rem(18px);
                        &::placeholder {font-size: rem(14px);}
                    }
                }
            }
            .boardType{
                width:100%; height:50px; margin-top:20px;
                select{
                    width:300px; height:50px; padding:0 40px; color: #000; font-size: rem(16px); font-style: normal; font-weight: 300; line-height: normal;
                     border:0; border-radius:12px; background:#F7F9FB url(../../images/common/ico_wirte_slt.svg) right 20px top 21px no-repeat;
                     @include media('mobile'){width:100%; padding:0 15px; font-size:rem(12px);}
                }
            }
            .boardState{
                .item{
                    &.state{}
                    &.blue{}
                }
            }
        }
        .boardBody{
            width:100%;
            .boardCont{
                width:100%; padding:127px 150px 83px; border-radius:12px; background:#F7F9FB; position:relative;
                @include media('mobile'){padding:83px 15px 35px;}
                &::before {content:""; width:calc(100% - 20px); height:38px; border-radius:8px; background:#fff; display:block; position:absolute; left:10px; top:10px;}
                textarea.boardText{
                    width:100%; height:auto; min-height:250px; background:transparent; color: #000; font-size: rem(16px); font-style: normal; font-weight: 300; line-height: 1.75; border:0; resize:vertical;
                    &::placeholder {color:rgba(0,0,0,0.3);}
                    @include media('mobile'){min-height:342px; font-size: rem(15px); line-height: 1.5;}
                }
            }
        }
    }
}
