/* --------------------------- 게시판 리스트 --------------------------- */
.cptBoardList{
    width:100%; padding:0 20px;
    table{
        width: 100%; border-spacing:0; border-collapse: collapse; table-layout: fixed; border-top:1px solid #eee;
        @include media('mobile'){
            display: flex;
            tbody{display: flex; flex-wrap: wrap;}
            colgroup {display:none;}
        }
        tr{
            @include media('mobile'){width:100%; padding:28px 0; border-bottom:1px solid #eee; display:flex; flex-wrap: wrap; position:relative;}
            td{
                height:100px; border-bottom:1px solid #eee; text-align: center; vertical-align: middle;
                color: #000; font-size: 14px; font-style: normal; font-weight: 300; line-height: normal; position:relative;
                @include media('mobile'){
                    height:auto; margin-top:5px; padding-right:20px; font-size:12px; border-bottom:0; display:flex; color:rgba(0,0,0,0.5); order:10;
                    &::after{
                        content:""; width:1px; height:9px; background:rgba(0,0,0,0.2); position:absolute; right:9px; top:3px;
                    }
                    &:last-child::after{
                        display:none;
                    }
                    &.bdType{
                        width:100%; margin-top:0; order:0; padding:0; 
                        &::after{display:none;}
                    }
                    &.bdTitle{
                        width:100%; order:1; padding:0; 
                        &::after{display:none;}
                    }
                    &.bdState{
                        margin-top:0; position:absolute; right:0; top:calc(50% - 25px); padding:0; 
                        &::after{display:none;}
                    }
                }
                &.left{text-align: left;}
                &.right{text-align: right;}
                .listType {
                    color: #000; text-align: center; font-size: rem(15px); font-style: normal; font-weight: 600; line-height: normal;
                    @include media('mobile'){width: 100%; font-size: 12px;  text-align:left;}
                }
                .link {
                    width:100%; color: #000; font-size: rem(22px); font-style: normal; font-weight: 300; line-height: normal; display:flex;
                    @include media('mobile'){padding-right:72px; font-size: rem(18px); line-height: 24px; display:flex;}
                    .reply {
                        height:100px; padding-left:70px; font-size:0; background:#fff url(../../images/common/ico_list_reply.svg) calc(100% - 20px) 45px no-repeat; display:flex;
                        @include media('mobile'){height:20px; padding-left: 30px; background: #fff url(../../images/common/ico_list_reply.svg) calc(100% - 10px) 3px no-repeat;}
                    }
                    .title{
                        width:100%; display:flex; align-items: center; overflow:hidden;
                        @include media('mobile'){display:block; overflow:visible;}
                        a {
                            width: max-content; display:block; @include line1(); 
                            b {font-weight:500;}
                            @include media('mobile'){width: auto; margin-top:5px; display: inline; white-space: initial; overflow:auto; text-overflow: initial;}
                        }
                        .num{
                            margin-left:8px; color: #4053FF; font-size: rem(16px); font-weight: 600; line-height:26px;
                            @include media('mobile'){margin-left:3px; font-size: rem(14px); line-height: 19px; vertical-align: top;}
                        }
                        .icons{
                            width: max-content; margin-left:12px; display:flex;
                            @include media('mobile'){margin-left:5px; display: inline;}
                            .icon {
                                width:26px; height:26px; margin-right:4px; font-size:0; border-radius:8px; display:flex; position:relative;
                                &:last-child {margin-right:0;}
                                &.new{background:#ff9900 url(../../images/common/ico_list_new.svg) center / 26px no-repeat;}
                                &.file{background:#FF5ADB url(../../images/common/ico_list_file.svg) center / 26px no-repeat;}
                                &.secret{justify-content: center; background:#01C880 url(../../images/common/ico_list_secr.svg) center / 11px no-repeat;}
                                @include media('mobile'){
                                    margin-right: 4px; display: inline;
                                    &.new{padding:17px 17px 0 0; border-radius:5px; background:url(../../images/common/ico_list_new.svg) center / 17px no-repeat;}
                                    &.file{padding:17px 10px 0 0; background:url(../../images/common/ico_list_file_m.svg) center / 9.7px no-repeat;}
                                    &.secret{padding:17px 11px 0 0; background:url(../../images/common/ico_list_secr_m.svg) center 3px / 11.6px no-repeat;}
                                }
                            }
                        }
                            
                    }
                }
                .state{
                    width:max-content; min-width: 60px; height: 30px; padding: 0 9px; font-size: rem(12px); font-style: normal; font-weight: 800; text-align: center; line-height: 30px; 
                    border-radius: 15px; background: #F4F6F8; display:inline-block;
                    &.pink{color: #FF5ADB;}
                    &.blue{color: #4053FF;}
                    &.gray{color: #888888;}
                    @include media('mobile'){
                        min-width: 50px; height: 50px; padding: 0 5px; font-size: rem(11px); line-height:50px; border-radius:13px; 
                    }
                }
            }
        }
    }
}
