<%
var url = locals.url ? locals.url : '../../';
%>

<div class="cptFooter">
    <div class="footArea">
        <div class="siteArea">
            <ul class="siteGroup">
                <li class="siteItem"><a href="">KSPO 국민체육진흥공단</a></li>
                <li class="siteItem"><a href="">경주사업총괄본부</a></li>
                <li class="siteItem"><a href="">KCYCLE 경룬</a></li>
                <li class="siteItem"><a href="">KBOAT 경정</a></li>
                <li class="siteItem"><a href="">올림핑공원</a></li>
                <li class="siteItem"><a href="">한국스포츠개발원</a></li>
            </ul>
        </div>
        <div class="copyArea">
            <div class="copyGroup">
                <div class="copyL">
                    <ul class="copyList">
                        <div class="copyItem">
                            경기도 광명시 광명로 721 (광명동)
                        </div>
                        <div class="copyItem">
                            공정신고 : secure1@kspo.or.kr
                        </div>
                    </ul>
                </div>
                <div class="copyR">
                    <ul class="numberList">
                        <div class="numItem">
                            080-008-5000 (무료)
                        </div>
                        <div class="numItem">
                            02-2067-8000 (유료)
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>