<%
var url = locals.url ? locals.url : '../../';
%>

            <div class="cptGnb">
                <div class="gnbArea">
                    <div class="logoBox">
                        <img src="" alt="">
                    </div>
                    <div class="gnbBox">
                        <div class="menuArea">
                            <ul class="depth1Group">
                                <li class="depth1List">
                                    <a href="#" class="depth1Name">소통공간</a>
                                    <ul class="depth2Group">
                                        <li class="depth2List">
                                            <a href="#" class="depth2Name">소통공간</a>
                                        </li>
                                        <li class="depth2List">
                                            <a href="#" class="depth2Name">소통공간</a>
                                        </li>
                                        <li class="depth2List">
                                            <a href="#" class="depth2Name">소통공간</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="depth1List">
                                    <a href="#" class="depth1Name">선수공간</a>
                                </li>
                                <li class="depth1List">
                                    <a href="#" class="depth1Name">마이페이지</a>
                                </li>
                            </ul>
                        </div>
                        <button class="menuBtn">
                            <span>메</span>
                            <span>뉴</span>
                            <span>열기</span>
                        </button>
                    </div>
                    <div class="gnbTitle">
                        경륜선수커뮤니티
                    </div>
                </div>
            </div>